<div class="container">
    <div class="row">
		<div class="barraTitulo bg-verdeEscuro">Membros</div>

		<div class="col-sm-12">

			<h3>Lista de Membros do Colégio</h3>

			<div class="col-sm-4 no-padding-left">
				<p>Ana Carolina Brandão de Campos Fonseca Pinto</p>
				<p>André Maldonado</p>
				<p>Anna Beatriz Domene Vieira Carneiro</p>
				<p>Antonio Carlos Cunha Lacreta Junior</p>
				<p>Benedicto Wlademir De Martin</p>
				<p>Bruno Divino Rocha</p>
				<p>Camila Trevisan Pereira</p>
				<p>Carina Outi Baroni</p>
				<p>Carlo Leonardo Grieco Fratocchi</p>
				<p>Carmen L. Buchmann de Godoy</p>
				<p>Carolina de Oliveira Ghirelli</p>
				<p>Caterina Muramoto</p>
				<p>Cibele Figueira Carvalho</p>
				<p>Cláudia de Andrade Addad</p>
				<p>Cláudia Domingos Schaeffter</p>
				<p>Cláudia Matsunaga Martín</p>
				<p>Cristiano Chaves Pessoa da Veiga</p>
				<p>Daniel dos Santos Baptista</p>
			</div>

			<div class="col-sm-4 no-padding-left">	
				
				<p>Daniela Aparecida Aires Garcia</p>
				<p>Edgar Luiz Sommer</p>
				<p>Eliana G. Serra</p>
				<p>Felipe Andrei Suárez Abreu</p>
				<p>Fernanda Laudisio dos Santos</p>
				<p>Fernanda Peres Medeiros</p>
				<p>Fernando Cardoso Cavaletti</p>
				<p>Franklin de Almeida Sterman (in memorian)</p>
				<p>Gabriela Silva Rodrigues</p>
				<p>Georgea Bignardi Jarretta</p>
				<p>Hélio José Santos Bagetti Filho</p>
				<p>Jacinta Eufrásia Brito Leite</p>
				<p>Júlio Canola</p>
				<p>Júlio César Bringel da Costa</p>
				<p>Katia Guimarães Requião</p>
				<p>Luciana Del Rio Pinoti Ciarline</p>
				<p>Lucy Marie Ribeiro Muniz</p>
				<p>Luiz Carlos Vulcano</p>
			</div>

			<div class="col-sm-4 no-padding-left">
				
				
				<p>Luiz Sergio Ramadinha</p>
				<p>Marcius Alessandro Pessanha Klem</p>
				<p>Marco Aurelio Gallo</p>
				<p>Maria Cristina Ferrarini Nunes Soares Hage</p>
				<p>Maria Jaqueline Mamprim</p>
				<p>Masao Iwasaki</p>
				<p>Mauro Caldas Martins</p>
				<p>Milton Kolber</p>
				<p>Natascha Kellermann Brauer</p>
				<p>Paulo José Riccio Frazão</p>
				<p>Ronaldo Mateus Define</p>
				<p>Rosana Zanatta</p>
				<p>Rosmara dos Santos</p>
				<p>Salvador Luis Rocha Urtado</p>
				<p>Sandra Maria de Oliveira</p>
				<p>Sergio Ricardo Araújo de Melo e Silva</p>
				<p>Tilde Rodrigues Froes Paiva</p>
			<div>
		</div>

	</div>

</div>