<div class="container">
    <div class="row">
		<div class="barraTitulo bg-verdeEscuro">Objetivos do Colégio</div>
		<div class="col-sm-12">
			<h3>O Colégio Brasileiro de Radiologia Veterinária tem por finalidade primordial:</h3>
		</div>
		<div class="col-sm-8 bottom-buffer">
			<p>Incentivar médicos veterinários a aprimorarem seus conhecimentos nos campos do Diagnóstico por Imagem e das terapias por radiações, sendo criada a projeção dos veterinários, clientes e pacientes.</p>
			<img style="vertical-align: top;" src="images/colegio1.jpg">
			<img src="images/colegio2.jpg">
			<img src="images/colegio.jpg">
		</div>

		

	</div>

</div>