<div class="container">
    <div class="row">
		<div class="barraTitulo bg-verdeEscuro">Displasia</div>

		<div class="col-sm-12">
			<h3>Termos:</h3>
		</div>
		<div class="col-sm-8">
			<p >
				<a href="arquivos/termo-de-responsabilidade-do-veterinario.pdf">
					<b>Termo de Responsabilidade do Veterinário</b>
					<span class="badge left-buffer bg-verde">PDF</span>
				</a>
			</p>
			<p class="top-buffer">
				<a href="arquivos/termo-de-responsabilidade-do-proprietario.pdf">
					<b>Termo de Responsabilidade do Proprietário</b>
					<span class="badge left-buffer bg-verde">PDF</span>
				</a>
			</p>
			<p class="top-buffer">
				<a href="arquivos/termo-de-desconto-para-criadores.pdf">
					<b>Termo de Responsabilidade para Criadores</b>
					<span class="badge left-buffer bg-verde">PDF</span>
				</a>
			</p>
		</div>

		<div class="col-sm-12">
			<h3>Normas:</h3>
		</div>
		<div class="col-sm-8">
			<p >
				<a href="arquivos/normas-do-colegio.pdf">
					<b>Normas do Colégio</b>
					<span class="badge left-buffer bg-verde">PDF</span>
				</a>
			</p>
		</div>

		<div class="col-sm-12">
			<h3>COLÉGIO BRASILEIRO DE RADIOLOGIA VETERINÁRIA</h3>
		</div>
		<div class="col-sm-8">
			<p>Comunicado importante a respeito de DISPLASIA COXOFEMORAL e COTOVELOS</p>

			<p>Como recebemos diversas dúvidas a este respeito, se faz necessário alguns esclarecimentos sobre a avaliação da Displasia Coxofemoral e de Cotovelos no Brasil.</p>

			<p>Nenhum médico veterinário em todo o território nacional está autorizado a avaliar a Displasia Coxofemoral e de Cotovelos pelo Colégio Brasileiro de Radiologia Veterinária, nem tampouco pela Associação Brasileira de Radiologia Veterinária.</p>

			<p>Apenas a comissão avaliadora do Colégio Brasileiro de Radiologia Veterinária está apta a emitir laudo oficial de Displasia Coxofemoral e de Cotovelos no Brasil.</p>

			<p>Existem diversos médicos veterinários, em todo o Brasil, que podem realizar o posicionamento radiográfico e proceder o envio das imagens para avaliação da comissão avaliadora da Displasia pelo Colégio Brasileiro de Radiologia Veterinária.</p>

			<p>Não possuímos banco de dados de médicos veterinários que façam estes exames.</p>

			<p>Atenciosamente,</p>

			<p class="small text-muted">Comissão Avaliadora de Displasia Coxofemoral.</p>
		</div>
		
	</div>

</div>