<div class="container">
    <div class="row">
		<div class="barraTitulo bg-verdeEscuro">Termos de Displasia</div>
		<div class="col-sm-8">
			<p class="top-buffer">
				<a href="arquivos/termo-de-responsabilidade-do-veterinario.pdf">
					<b>Termo de Responsabilidade do Veterinário</b>
					<span class="badge left-buffer bg-verde">PDF</span>
				</a>
			</p>
			<p class="top-buffer">
				<a href="arquivos/termo-de-responsabilidade-do-proprietario.pdf">
					<b>Termo de Responsabilidade do Proprietário</b>
					<span class="badge left-buffer bg-verde">PDF</span>
				</a>
			</p>
			<p class="top-buffer">
				<a href="arquivos/termo-de-desconto-para-criadores.pdf">
					<b>Termo de Responsabilidade para Criadores</b>
					<span class="badge left-buffer bg-verde">PDF</span>
				</a>
			</p>
		</div>

		
	</div>

</div>