<div class="container">
    <div class="row">
		<div class="barraTitulo bg-verdeEscuro">Diretoria</div>
		<div class="col-sm-8 top-buffer bottom-buffer no-buffer-left">

			<div class="box with-shadow-border box-success">
				<div class="box-body">
					<h3 class="box-title" style="color: #51683f; margin-top:0px">Diretoria atual 2016-2019</h3>
					<p>Diretor Presidente: M.V. Ms. Paulo José Riccio Frazão<br />
					Diretor Vice-Presidente: M.V. Eduardo Ayres e Silva Pereira<br />
					Primeiro Diretor Secretário: M.V. Ms. Gabriela Silva Rodrigues<br />
					Segundo Diretor Secretário: M.V. Mariana Ferreira<br />
					Primeiro Diretor Tesoureiro: M.V. Dra. Claudia Matsunaga Martin<br />
					Segundo Diretor Tesoureiro: M.V. Gabriela Abdalla Gomide
				</div>
			</div>
			
			<div class="box with-shadow-border box-success">
				<div class="box-body">
					<p><span style="color: #51683f;"><strong>Diretoria 2013-2016</strong></span><br />
					Diretor presidente: M.V. Daniel dos Santos Baptista<br />
					Diretor vice-presidente: M.V. Ms. Paulo José Riccio Frazão<br />
					Diretor 1º secretário: M.V. Mariana Ferreira de Freitas<br />
					Diretor 2º secretário: M.V. Leandro Averaldo Guiguet Leal<br />
					Diretor 1º tesoureiro: M.V. Eduardo Ayres e Silva Pereira<br />
					Diretor 2º tesoureiro: M.V. Felipe Andrei Suárez Abreu</p>
				</div>
			</div>

			<div class="box with-shadow-border box-success">
				<div class="box-body">
					<p><span style="color: #51683f;"><strong>Diretoria 2010-2013</strong></span><br />
					Diretor presidente: Prof. Dr. Franklin de Almeida Sterman (04/2010 a 04/2011) e Profa. Dra. Vânia Maria Vasconcelos Machado (06/2011 em diante)<br />
					Diretor vice-presidente: Profa. Dra. Vânia Maria Vasconcelos Machado (04/2010 a 04/2011) e Profa. Dra. Caterina Muramoto (06/2011 em diante)<br />
					Diretor 1º secretário: Profa. Dra. Caterina Muramoto (04/2010 a 04/2011) e M.V. Mariana Ferreira de Freitas<br />
					Diretor 2º secretário: M.V. Alessandra Sendyk<br />
					Diretor 1º tesoureiro: M.V. Ms. Thelma Regina Cintra Silva<br />
					Diretor 2º tesoureiro: M.V. Daniel dos Santos Baptista</p>
				</div>
			</div>

			<div class="box with-shadow-border box-success">
				<div class="box-body">
					<p><span style="color: #51683f;"><strong>Diretoria 2007-2010</strong></span><br />
					Diretor Presidente: M.V. Edgar Luiz Sommer<br />
					Diretor Vice-presidente:Prof. M.s. Cibele Figueira Carvalho<br />
					Diretor secretário: M.V. Mariana Filippini Tomazini<br />
					Diretor tesoureiro: M.V. Roberto Vilella</p>
				</div>
			</div>

			<div class="box with-shadow-border box-success">
				<div class="box-body">	
					<p><span style="color: #51683f;"><strong>Diretoria 2004 a 2007</strong></span><br />
					Diretor Presidente – MV Silvia Maria Santos Neves<br />
					Diretor Vice-Presidente – MV Luis Renato Veríssimo de Souza<br />
					Diretor Secretário – MV Cassia Garcia Silva<br />
					Diretor Tesoureiro – Prof. Ms. Cibele Figueira Carvalho</p>
				</div>
			</div>

			<div class="box with-shadow-border box-success">
				<div class="box-body">
					<p><span style="color: #51683f;"><strong>Diretoria 2001 a 2004</strong></span><br />
					Diretor Presidente &#8211; Profa. Ms. Ana Carolina Brandão de Campos Fonseca Pinto<br />
					Diretor Vice- Presidente – Profa. Ms. Sandra Maria de Oliveira<br />
					Diretor Secretário – Profa. Ms. Carla Aparecida Batista Lorigados<br />
					Diretor Tesoureiro – MV Flávio Augusto Marques dos Santos</p>
				</div>
			</div>

			<div class="box with-shadow-border box-success">
				<div class="box-body">
					<p><span style="color: #51683f;"><strong>Diretoria 1998 – 2001</strong></span><br />
					Diretor Presidente – MV Carlo Leonardo Grieco Fratocchi<br />
					Diretor Vice- Presidente – MV Eduardo Fava Schimidt<br />
					Diretor Secretário – Profa. Ms. Sandra Maria de Oliveira<br />
					Diretor Tesoureiro – MV José Casuioshi Murashima Junior</p>
				</div>
			</div>

			<div class="box with-shadow-border box-success">
				<div class="box-body">
					<p><span style="color: #51683f;"><strong>Diretoria 1995 – 1998</strong></span><br />
					Diretor Presidente – MV Edgar Luiz Sommer<br />
					Diretor Vice-Presidente – MV Carlo Leonardo Grieco Fratocchi<br />
					Diretor Secretário – MV Mirian Halasc Vac<br />
					Diretor Tesoureiro – MV Eduardo Fava Schmidt</p>
				</div>
			</div>

			<div class="box with-shadow-border box-success">
				<div class="box-body">
					<p><span style="color: #51683f;"><strong>Diretoria 1992-1995</strong></span><br />
					Diretor Presidente – Prof. Dr. Benedito Wlademir de Martin<br />
					Diretor Vice-Presidente – MV Edgar Luiz Sommer<br />
					Diretor Secretário – MV Marco Aurélio Gallo<br />
					Diretor Tesoureiro &#8211; MV Wagner Antônio da Costa Val</p>
				</div>
			</div>

		</div>


		
	</div>

</div>

