<div class="container">
    <div class="row">
		<div class="barraTitulo bg-verdeEscuro">Estatuto</div>
		
		<div class="col-md-8 no-buffer-left">
			<p class="top-buffer">
				<a href="arquivos/EstatutoABRV1992.pdf">
					<b>Estatuto de 1992</b>
					<span class="badge left-buffer bg-verde">PDF</span>
				</a>
			</p>
		</div>

		<div class="col-md-8 no-buffer-left">
			<div class="box top-buffer with-shadow-border box-success">

				
				<!-- <div class="col-sm-12"><h3>Estatuto da Associação Brasileira de Radiologia Veterinária</h3></div> -->
				<div class="box-header">
					<h3 class="box-title">Estatuto da Associação Brasileira de Radiologia Veterinária</h3>
				</div>
				<div class="box-body">
 
					<p>C.N.P.J. n.º 68.486.729/0001-53</p>
					 
					 
					<p style="text-align: justify;"><span style="color: #51683f;"><strong>CAPÍTULO I</strong></span><br />
					DA NATUREZA, FINALIDADE E SEDE</p>
					 
					<p style="text-align: justify;">Art. 1º – A Associação Brasileira de Radiologia Veterinária, doravante denominada (ABRV), fundada em 31 de março de 1992, com sede e foro na cidade de São Paulo, à Rua Padre Machado, 455, conj. 32, é uma Entidade Civil, sem fins lucrativos, com duração por tempo indeterminado, congregando os médicos veterinários que utilizam métodos de diagnóstico por imagem e tem por objetivo:<br>
					a.     Promover o progresso da especialidade e ciências correlatas;<br>
					b.    Representar a categoria profissional dentro do país, bem como no exterior, nos casos cabíveis, defendendo os interesses científicos, educacionais, profissionais e materiais, perante os poderes constituídos e a comunidade em geral;<br>
					c.     Cooperar com atividades científicas nacionais, relacionadas com a especialidade, e divulgar entre leigos, as normas racionais e os propósitos das mesmas;<br>
					d.     Promover e estimular, por todos os meios, o aprimoramento profissional e o congraçamento dentro da especialidade.<br>
					e.     Conceder, segundo a legislação pertinente e vigente, certificados de especialização nas áreas relacionadas ao diagnóstico por imagem a fim de qualificar veterinários dentro da profissão.</p>
					 
					<p style="text-align: justify;">Art. 2º – Para atingir os fins previstos no artigo 1º, a ABRV propõe-se a:<br>
					a.     Promover atividades científicas, presenciais e à distância, de qualquer forma ligadas à especialidade;<br>
					b.    Fomentar o intercâmbio cultural e o convívio social entre os Associados;<br>
					c.     Agir como órgão de consulta, quando solicitada a se pronunciar sobre assuntos de interesse da classe, ou emitir espontaneamente sua opinião dentro da esfera de sua competência jurídico-administrativa;<br>
					d.     Zelar pelo cumprimento do Código de Ética da Medicina Veterinária e pelo Código de Ética da Especialidade que venha a ser elaborado.</p>
					 
					 
					<p style="text-align: justify;"><span style="color: #51683f;"><strong>CAPÍTULO II</strong></span><br />
					DOS ASSOCIADOS</p>
					 
					<p style="text-align: justify;">Art. 3º – Os Associados da ABRV são assim classificados:<br>
					a.     Efetivo<br>
					b.    Fundador<br>
					c.     Honorário<br>
					d.     Benemérito<br>
					e.     Correspondente<br>
					f.      Residente<br>
					g.     Colegiado<br>
					h.     Emérito</p>
					 
					<p style="text-align: justify;">DOS ASSOCIADOS EFETIVOS</p>
					 
					<p style="text-align: justify;">Art. 4º – Pode ser Associado Efetivo o médico veterinário residente no país.</p>
					 
					<p style="text-align: justify;">Art. 5º – Para ingressar como Associado Efetivo requer-se:<br>
					a.     Preenchimento do formulário disponibilizado pela ABRV em formato digital;<br>
					b.    Inscrição no Conselho Regional de Medicina Veterinária do Estado, Território ou Distrito Federal;<br>
					c.     Pagamento da anuidade do ano base vigente.</p>
					 
					<p style="text-align: justify;">Art. 6º – São deveres dos Associados Efetivos:<br>
					a.     Cumprir as determinações deste Estatuto e demais Regimentos e Regulamentos da ABRV;<br>
					b.    Manter-se atualizado com todos os compromissos, de qualquer caráter, assumidos com a entidade, inclusive financeiros, como por exemplo o pagamento das anuidades;<br>
					c.     Desempenhar todas as funções que lhes forem atribuídas e às quais tenham anuído;<br>
					d.     Zelar pelo bom nome da ABRV, prestigiando as suas iniciativas e atendendo às solicitações da Diretoria Executiva da ABRV;<br>
					e.     Manter a vida pública e profissional com conduta pautada pelos princípios morais e pelo Código de Ética da Medicina Veterinária;<br>
					f.      Acatar e prestigiar os atos de decisões dos órgãos dirigentes da ABRV;<br>
					g.     Manter seus dados pessoais e de correspondência atualizados, informando a ABRV sempre que houver alterações.</p>
					 
					<p style="text-align: justify;">Art. 7º – São direitos dos Associados Efetivos:<br>
					a.     Votar e ser votado para todos os cargos eletivos. O voto é pessoal, não sendo aceito o voto por procuração ou correspondência.<br>
					b.    Ler ou discutir comunicações ou trabalhos de matéria científica, pertinentes aos fins da ABRV;<br>
					c.     Ter benefícios exclusivos em atividades promovidas pela ABRV;<br>
					d.     Receber publicações que a ABRV venha a editar;<br>
					e.     Acessar o portal eletrônico da ABRV na Internet;<br>
					f.      Ser indicado ou nomeado para tomar parte de comissões, conforme preceitua este Estatuto;<br>
					g.     Licenciar-se por ausência do país, solicitando anuência à ABRV, ficando livre de contribuições nesse período;<br>
					h.     Solicitar a isenção do pagamento das contribuições após os 65 (sessenta e cinco) anos de idade ou mais, desde que tenha pago as contribuições dos 5 (cinco) anos antecedentes.</p>
					<p style="text-align: justify;">Parágrafo Único – é vedada a utilização do título de Associado Efetivo em publicações e trabalhos científicos e em todos os papéis de uso profissional.</p>
					 
					<p>DOS ASSOCIADOS FUNDADORES</p>
					 
					<p style="text-align: justify;">Art. 8o – Denominam-se Associados Fundadores aqueles que assinaram a Ata de Fundação da ABRV.<br>
					<p>Parágrafo Único – Os Associados Fundadores gozam de todas as prerrogativas dos Associados Efetivos, ficando dispensados do pagamento de quaisquer anuidades.</p>
					 
					<p>DOS ASSOCIADOS HONORÁRIOS</p>
					 
					<p style="text-align: justify;">Art. 9o – Denomina-se Associado Honorário o médico veterinário, nacional ou estrangeiro, que por notoriedade tenha prestado serviço relevante à especialidade de diagnóstico por imagem e cujo nome foi aprovado em assembleia geral.<br>
					Parágrafo 1º – Os Associados Honorários são eleitos por maioria simples da Assembleia Geral Ordinária, através de proposta feita pela Diretoria Executiva, ou por solicitação de um mínimo de 30 (trinta) de seus Associados, em pleno gozo de seus direitos.<br>
					Parágrafo 2º – Os Associados Honorários gozam de todas as prerrogativas dos Associados Efetivos com exceção do direito de votarem ou serem votados, ficando dispensados do pagamento de quaisquer anuidades.<br>
					Parágrafo 3º – Os Associados Honorários que tiverem sido Associados Efetivos conservam os mesmos direitos e obrigações destes, ficando, entretanto, dispensados do pagamento de quaisquer anuidades.</p>
					 
					<p>DOS ASSOCIADOS BENEMÉRITOS</p>
					 
					<p style="text-align: justify;">Art. 10º – Denomina-se Associado Benemérito a pessoa de comprovada idoneidade, sem distinção de nacionalidade ou profissão, que tiver prestado relevante serviço ou contribuído com donativo apreciável à ABRV.<br>
					Parágrafo 1º – A eleição dos mesmos faz-se pelo mesmo processo dos Associados Honorários.<br>
					Parágrafo 2º – Os Associados Beneméritos que tiverem sido Associados Efetivos conservam os mesmos direitos e obrigações ficando, entretanto, dispensados do pagamento de quaisquer anuidades.</p>
					 
					<p>DOS ASSOCIADOS CORRESPONDENTES</p>
					 
					<p style="text-align: justify;">Art. 11º – Denomina-se Associado Correspondente o médico veterinário residente no exterior, que exerça um dos métodos de diagnóstico por imagem veterinário, e o Associado Efetivo que o solicitar, de acordo com a alínea g do artigo 7º.<br>
					Parágrafo 1º – Para ingressar na ABRV, como Associado Correspondente, são necessárias:<br>
					a.     Proposta fornecida pela ABRV, preenchida pelo candidato;<br>
					b.    Comprovante de habilitação do exercício da medicina em seu país de residência;<br>
					c.     Aprovação da Diretoria Executiva.<br>
					Parágrafo 2º – O Associado Correspondente tem todos os direitos e deveres do Associado Efetivo, exceto as alíneas a e f do artigo 7º e ficando dispensado do pagamento de quaisquer anuidades.</p>
					 
					<p>DOS ASSOCIADOS RESIDENTES</p>
					 
					<p style="text-align: justify;">Art. 12º – Pertence a esta categoria o médico veterinário residente em diagnóstico por imagem nas instituições de ensino superior, aprovadas e reconhecidas pelo Ministério de Educação e Cultura (MEC).</p>
					 
					<p style="text-align: justify;">Art. 13o – Para ingressar como Associado Residente requer-se:<br>
					a.     Preenchimento do formulário disponibilizado pela ABRV em formato digital;<br>
					b.    Inscrição no Conselho Regional de Medicina Veterinária do Estado, Território ou Distrito Federal;<br>
					c.     Comprovação de inscrição no programa de residência.<br>
					Parágrafo Único – Os Associados Residentes gozam de todas as prerrogativas dos Associados Efetivos, ficando dispensados do pagamento de quaisquer anuidades até completar o 2º (segundo) ano de residência. Após esse prazo passam para a categoria de Associado Efetivo.</p>
					 
					<p>DOS ASSOCIADOS COLEGIADOS</p>
					 
					<p style="text-align: justify;">Art. 14o – Pertencem a esta categoria os Associados Efetivos, selecionados mediante exames de títulos, provas ou por notório saber pelo Colégio Brasileiro de Radiologia Veterinária.
					Parágrafo 1o – As diretrizes de seleção dos Associados Colegiados são determinadas pelo regimento do Colégio Brasileiro de Radiologia Veterinária.<br>
					Parágrafo 2o – É direito exclusivo do Associado Colegiado usar o título em publicações e trabalhos científicos e em todos os papéis de uso profissional.<br>
					Parágrafo 3o – Os Associados Colegiados preservam os mesmos direitos e deveres dos Associados Efetivos, não estando portanto, isentos do pagamento das anuidades.</p>
					 
					<p>DOS ASSOCIADOS EMÉRITOS</p>
					 
					<p style="text-align: justify;">Art. 15o – Denomina-se Associado Emérito o Médico Veterinário, que não mais exerce a função, eleito apenas pelos Associados Colegiados, por meio de votação.<br>
					Parágrafo Único – Os Associados Eméritos gozam de todas as prerrogativas dos Associados Efetivos com exceção do direito de votarem ou serem votados, ficando dispensados do pagamento de quaisquer anuidades.</p>
					 
					<p>DAS CONDIÇÕES GERAIS</p>
					 
					<p style="text-align: justify;">Art. 16º – A ABRV deve manter cadastro de todos os seus Associados, o qual pode ser utilizado por outras entidades, desde que previamente solicitado e devidamente autorizado pela Diretoria Executiva, com ou sem ônus.<br>
					Parágrafo Único – Em caso de mala direta/mailing, o envio é feito obrigatoriamente pela ABRV.</p>
					 
					<p style="text-align: justify;">Art. 17º – A Diretoria Executiva pode formar, em caráter temporário e especial, uma Comissão de Admissão, Sindicância e Ética, para realizar inquérito, assegurado o pleno direito de defesa, para punição do Associado que eventualmente:<br>
					a.     Tenha sido condenado por crime de qualquer natureza;<br>
					b.    Adote conduta em desacordo com o preceituado neste Estatuto ou no Código de Ética da Medicina Veterinária;<br>
					c.     Torne-se indigno do convívio social;<br>
					d.     Desprestigie de qualquer maneira a ABRV.</p>
					 
					<p style="text-align: justify;">Art. 18º – As penalidades obedecem à natureza e à gravidade da infração e são as seguintes:<br>
					a.     Advertência;<br>
					b.    Suspensão de direitos;<br>
					c.     Exclusão da ABRV.<br>
					Parágrafo 1º – Ao Associado punido cabe recurso à Diretoria Executiva e, em última instância, à Assembleia Geral.<br>
					Parágrafo 2º – Quando se tratar de violação do Código de Ética da Medicina Veterinária, o processo deve ser automaticamente remetido ao Conselho Regional de Medicina Veterinária da jurisdição.</p>
					 
					<p style="text-align: justify;">Art. 19º – O pagamento das anuidades deve ser efetuado até a data definida pela Diretoria Executiva.<br>
					Parágrafo 1º – O atraso no pagamento das contribuições implica acréscimo de valores, de acordo com as normas da Diretoria Executiva.<br>
					Parágrafo 2º – Tem seus direitos suspensos os Associados que não efetuarem o pagamento das anuidades até 31 de março; serão excluídos aqueles que não saldarem seus débitos até 31 de dezembro, devendo a exclusão ser comunicada oficialmente ao Associado e estar assentada em ata de reunião de Diretoria Executiva.<br>
					Parágrafo 3º – A critério da Diretoria Executiva pode ser aprovada a dispensa do pagamento da anuidade ao Associado com mais de 5 (cinco) anuidades consecutivas pagas, que comprove sua incapacidade ao exercício profissional.</p>
					 
					<p style="text-align: justify;">Art. 20o – É direito do Associado demitir-se quando julgar necessário, estando quites com as obrigações sociais/pecuniárias, até a data da formalização, bastando para tanto protocolar junto à Diretoria Executiva da ABRV seu pedido de demissão.</p>
					 
					<p style="text-align: justify;">Art. 21º – A readmissão do Associado excluído, conforme o artigo 19º, parágrafo 2o, a pedido do interessado, é avaliada e decidida pela Diretoria Executiva, desde que o mesmo efetue o pagamento corrigido das anuidades atrasadas até a sua solicitação de readmissão.</p>
					 
					 
					<p style="text-align: justify;"><span style="color: #51683f;"><strong>CAPÍTULO III</strong></span><br />
					DA ORGANIZAÇÃO</p>
					 
					<p style="text-align: justify;">Art. 22º – A ABRV é administrada pelos seguintes órgãos:<br>
					a.     Diretoria Executiva;<br>
					b.    Assembleia Geral;<br>
					c.     Colégio Brasileiro de Radiologia Veterinária;<br>
					d.     Comissão Científica;<br>
					e.     Comissões Especiais.</p>
					 
					<p>DA DIRETORIA EXECUTIVA</p>
					 
					<p style="text-align: justify;">Art. 23o – A Diretoria Executiva é composta por:<br>
					Diretor Presidente<br>
					Diretor Vice-Presidente<br>
					Primeiro Diretor Secretário<br>
					Segundo Diretor Secretário<br>
					Primeiro Diretor Tesoureiro<br>
					Segundo Diretor Tesoureiro<br>
					Parágrafo 1º – A chapa contendo a Diretoria Executiva é eleita para um mandato de 3 (três) anos pela Assembleia Geral Ordinária.<br>
					Parágrafo 2º – Todos os integrantes da Diretoria Executiva devem ser Associado Efetivo previamente a sua eleição.</p>
					 
					<p style="text-align: justify;">Art. 24º – Compete à Diretoria Executiva, coletivamente:<br>
					a.     Cumprir e fazer cumprir o Estatuto;<br>
					b.    Designar as Comissões Especiais;<br>
					c.     Convocar reuniões, inclusive das Comissões Especiais;<br>
					d.     Executar e fazer executar as resoluções das Assembleias e as suas próprias decisões;<br>
					e.     Fixar contribuições dos Associados;<br>
					f.      Indicar delegados ou representantes oficiais da ABRV nas associações médicas veterinárias nacionais ou estrangeiras, ou nos congressos nacionais e/ou internacionais;<br>
					g.     Contratar pessoal necessário para o funcionamento da ABRV;<br>
					h.     Realizar convênios com entidades médicas veterinárias que sejam de interesse da ABRV ou entidades correlatas;<br>
					i.       Elaborar o programa de atividades científicas, culturais e sociais;<br>
					j.       Disciplinar a realização de Jornadas, Congressos, Reuniões, Cursos, etc.;<br>
					k.     Punir sócios faltosos com seus deveres;<br>
					l.       Autorizar a realização de operações de crédito ou aplicação de capital;<br>
					m.    Criar um regimento interno para orientar a gestão;<br>
					n.     Reunir-se ordinariamente, de acordo com normas traçadas pelo presidente, preferencialmente uma vez por mês e no mínimo 3 vezes por semestre, podendo ser realizada por teleconferência;<br>
					o.     Tomar decisões pela maioria de seus membros presentes nas reuniões e transcritas em Livro de Ata próprio.</p>
					 
					 
					<p style="text-align: justify;">Parágrafo Único – A ausência sem justificativa, de qualquer integrante, a 3 (três) reuniões consecutivas da Diretoria Executiva ou a 6 (seis) intercaladas, implica vacância do cargo, após notificação formal.</p>
					 
					<p style="text-align: justify;">Art. 25º – Ao Diretor Presidente compete:<br>
					a.     Presidir reuniões da Assembleia Geral, da Diretoria Executiva e de Comissões Especiais;<br>
					b.    Organizar programações científicas e sociais;<br>
					c.     Supervisionar o cumprimento das deliberações das Assembleias, da Diretoria Executiva e de Comissões Especiais;<br>
					d.     Executar atos que se fizerem necessários para o fiel cumprimento deste Estatuto;<br>
					e.     Representar a ABRV em sessões solenes ou conclaves científicos;<br>
					f.      Representar ou fazer-se representar em juízo ou fora dele;<br>
					g.     Assinar atas das reuniões, juntamente com o Diretor 1o Secretário;<br>
					h.     Assinar, com o Diretor 1o Tesoureiro, cheques, obrigações e demais documentos referentes a operações financeiras;<br>
					i.       Assinar os certificados referentes a palestras, cursos e congressos junto com o Diretor 1o Secretário;<br>
					j.       Prestar contas de todos os atos administrativos no decurso do mandato que lhe foi conferido.</p>
					 
					<p style="text-align: justify;">Art. 26º – Ao Diretor Vice-Presidente compete:<br>
					a.     Substituir o Diretor Presidente nos seus impedimentos;<br>
					b.    Auxiliar o Diretor Presidente em todas as atividades da ABRV;<br>
					c.     Exercer atribuições específicas conferidas pelo Diretor Presidente.</p>
					 
					<p style="text-align: justify;">Art. 27º – Ao Primeiro Diretor Secretário compete:<br>
					a.     Superintender e orientar todas as atividades da secretaria da ABRV;<br>
					b.    Redigir e assinar as correspondências da ABRV, bem como certificados referentes a palestras, cursos, e congressos, juntamente com o Diretor Presidente;<br>
					c.     Redigir e assinar as atas da Diretoria Executiva e Assembleia Geral, juntamente com o Diretor Presidente.<br>
					d.     Subscrever, juntamente com o presidente e/ou com o tesoureiro, os documentos da vida científica, social e econômico-financeira da ABRV;<br>
					e.     Organizar a ordem do dia e secretariar as reuniões da Diretoria Executiva e Assembleia;<br>
					f.      Atender a todas as atividades executivas da secretaria da ABRV, cumprindo e fazendo cumprir todas as determinações da Diretoria Executiva;<br>
					g.     Manter atualizados os fichários e arquivos da ABRV podendo fornecer cópias e certidões a quem de direito;<br>
					h.     Redigir relatórios anuais das atividades científicas e sociais da ABRV;<br>
					i.       Dar conhecimento imediato à Diretoria Executiva de todos os assuntos e documentos e prestar as informações solicitadas pelos órgãos dirigentes da ABRV;<br>
					j.       Manter intercâmbio ativo com as sociedades congêneres e com os Associados da ABRV;<br>
					k.     Encaminhar material da Secretaria para publicação nos órgãos de divulgação.</p>
					 
					<p style="text-align: justify;">Art. 28º – Ao Segundo Diretor Secretário compete:<br>
					a.     Redigir, a pedido do Primeiro Diretor Secretário, as atas de reunião;<br>
					b.    Cooperar com o Primeiro Diretor Secretário, substituindo-o nos impedimentos eventuais.</p>
					 
					 
					<p style="text-align: justify;">Art. 29º – Ao Primeiro Diretor Tesoureiro compete:<br>
					a.     Superintender e orientar todas as atividades da tesouraria da ABRV;<br>
					b.    Arrecadar as contribuições dos Associados, receber subvenções, auxílios e outros quaisquer valores, dando quitação;<br>
					c.     Administrar, em colaboração com o Diretor Presidente, o patrimônio da ABRV;<br>
					d.     Manter sob o seu controle conta bancária em nome da ABRV;<br>
					e.     Pagar as contas da ABRV, depois de autorizadas pelo Diretor Presidente e/ou Diretoria Executiva;<br>
					f.      Examinar os balancetes periodicamente, apresentando-os nas reuniões da Diretoria Executiva;<br>
					g.     Assinar, com o Diretor Presidente, cheques, obrigações e demais documentos referentes a operações financeiras;<br>
					h.     Desenvolver relações econômico-financeira com órgãos ou firmas que apoiem iniciativas culturais ou científicas;<br>
					i.       Guardar sob responsabilidade, todos os livros, documentos e valores da tesouraria;<br>
					j.       Emitir pareceres em atos que impliquem compromissos financeiros;<br>
					k.     Depositar, juntamente com o Diretor Presidente, em conta poupança e em estabelecimento oficial, eventual superavit oriundo de atividades científicas, culturais e sociais da ABRV;<br>
					l.       Subscrever, juntamente com o presidente e/ou um dos secretários, os documentos da vida científica, social e econômico-financeira da ABRV.<br>
					Parágrafo Único – Em caso de falecimento ou impedimento, a referida conta poderá ser movimentada por dois integrantes da Diretoria Executiva, obedecida a seguinte ordem: Segundo Diretor Tesoureiro ou Diretor Vice-Presidente.</p>
					 
					<p style="text-align: justify;">Art. 30º – Ao Segundo Diretor Tesoureiro compete:<br>
					a.     Substituir o Primeiro Diretor Tesoureiro em seus impedimentos temporários;<br>
					b.    Zelar, juntamente com o Primeiro Diretor Tesoureiro, pela arrecadação das rendas, inclusive superintender a cobrança de anuidades e taxas e dando-lhes a consequente quitação;<br>
					c.     Manter atualizados os fichários de contribuições dos sócios, informando à Diretoria Executiva o que for conveniente, para efeito de cumprimento deste Estatuto.</p>
					 
					<p>DA ASSEMBLÉIA GERAL</p>
					 
					<p style="text-align: justify;">Art. 31º – As Assembleias Gerais podem ser ordinárias ou extraordinárias, mediante convocação por e-mail, mídias sociais, website oficial da ABRV e/ou correspondência postal, com antecedência mínima de 15 (quinze) dias úteis da sua realização, onde constará: local, dia, mês, ano, hora da primeira e segunda chamada, ordem do dia e o nome de quem a convocou.</p>
					 
					<p style="text-align: justify;">Art. 32º – As Assembleias Gerais Ordinárias tem como atribuições:<br>
					a.     Eleger a Diretoria Executiva;<br>
					b.    Deliberar sobre assuntos da vida social ou econômico-financeira da ABRV;<br>
					c.     Tomar conhecimento do relatório da Diretoria Executiva.<br>
					Parágrafo 1o – A Assembleia Geral Ordinária reúne-se de 3 em 3 anos, entre os meses de março e abril.<br>
					Parágrafo 2o – As Assembleias Gerais Ordinárias são realizadas por convocação do Diretor Presidente ou atendendo à solicitação da Diretoria Executiva, ou de 15 (quinze) Associados, em pleno gozo de seus direitos sociais. Instala-se em primeira convocação com a maioria absoluta dos Associados e, em segunda convocação, meia hora após a primeira, com os Associados presentes, deliberando pela maioria simples dos votos dos presentes, salvo nos casos previstos neste estatuto.</p>
					 
					<p style="text-align: justify;">Art. 33º – As Assembleias Gerais Extraordinárias tem como atribuições:<br>
					a.     Tratar de assuntos urgentes de interesse da ABRV, que sejam de atribuição da Assembleia Ordinária;<br>
					b.    Aprovar as propostas para admissão de Associados Honorários e Beneméritos;<br>
					c.     Julgar os recursos interpostos por Associados punidos pela Diretoria Executiva;<br>
					d.     Aprovar propostas de mudanças no Estatuto;<br>
					e.     Julgar os atos da Diretoria Executiva;<br>
					f.      Deliberar e aprovar a destituição de integrantes da Diretoria Executiva;<br>
					g.     Deliberar e aprovar a dissolução da ABRV.<br>
					Parágrafo 1o – As Assembleias Gerais Extraordinárias são realizadas por convocação do Diretor Presidente ou atendendo à solicitação da Diretoria Executiva, ou de 30 (trinta) Associados, em pleno gozo de seus direitos sociais. Instala-se em primeira convocação com a maioria absoluta dos Associados e, em segunda convocação, meia hora após a primeira, com os Associados presentes, deliberando pela maioria simples dos votos dos presentes, salvo nos casos previstos neste estatuto.<br>
					Parágrafo 2º – O Diretor Presidente e/ou a Diretoria Executiva tem um prazo de 30 (trinta) dias para verificar o cumprimento das disposições estatutárias, expedindo imediatamente comunicação aos Associados, estabelecendo local e assuntos.<br>
					Parágrafo 3o – As Assembleias Gerais Extraordinárias só podem deliberar sobre assuntos que constem da ordem do dia da sua convocação.<br>
					Parágrafo 4o – As propostas para mudança do Estatuto devem ser enviadas conjuntamente à convocação para a Assembleia Extraordinária, na qual serão deliberadas as aprovações. As propostas de mudança do Estatuto podem ser iniciativa da Diretoria Executiva, ou de 15 (quinze) Associados, em pleno gozo de seus direitos sociais.<br>
					Parágrafo 5º – A destituição de integrantes da Diretoria Executiva é admissível somente havendo justa causa, assim reconhecida em procedimento disciplinar pela Assembleia Geral Extraordinária, quando ficar comprovado:
					a.     Malversação ou dilapidação do patrimônio social;<br>
					b.    Grave violação deste estatuto;<br>
					c.     Abandono do cargo, assim considerado a ausência não justificada em 3 (três) reuniões consecutivas da Diretoria Executiva ou a 6 (seis) intercaladas, sem expressa comunicação dos motivos da ausência, à secretaria da Associação;<br>
					d.     Aceitação de cargo ou função incompatível com o exercício do cargo que exerce na entidade.<br>
					Parágrafo 6º – Definida a justa causa, o Diretor é comunicado, através de notificação extrajudicial, dos fatos a ele imputados, para que apresente sua defesa prévia no prazo de 30 (trinta) dias, contados do recebimento da comunicação.<br>
					Parágrafo 7º – Após o decurso do prazo descrito no parágrafo anterior, independentemente da apresentação da defesa, a representação é submetida à Assembleia Geral Extraordinária, devidamente convocada para esse fim, composta de Associados em dia com suas obrigações sociais, onde é garantido ao Diretor, o pleno direito de defesa, não podendo deliberar sem voto concorde de 2/3 (dois terços) dos presentes.<br>
					Parágrafo 8º – Para a iniciativa expressa da dissolução da ABRV é necessária proposta assinada por um mínimo de 2/3 (dois terços) dos Associados em gozo de seus direitos, com indicação do beneficiário, de acordo com o artigo 43º deste Estatuto.</p>
					 
					<p>DO COLÉGIO BRASILEIRO DE RADIOLOGIA VETERINÁRIA</p>
					 
					<p style="text-align: justify;">Art. 34o – Com a finalidade de estimular os Médicos Veterinários a aprofundarem-se nos conhecimentos do Diagnóstico por Imagem, a ABRV constitui o Colégio Brasileiro de Radiologia Veterinária, doravante denominado CBRV, composto pelos Associados Colegiados.<br>
					Parágrafo 1o – O CBRV deve possuir seu próprio Regimento, sendo este aprovado em suas Reuniões.<br>
					Parágrafo 2o – Os Associados Efetivos, que desejarem ingressar no CBRV, devem fazer a solicitação de Associado Colegiado seguindo as diretrizes que devem estar presentes no Regimento do CBRV.<br>
					Parágrafo 3o – Os critérios de seleção e julgamento dos Associados Colegiados estabelecidos pelo CBRV, devem seguir as exigências vigentes do Conselho Federal de Medicina Veterinária-CFMV para Concessão de Título de Especialista.<br>
					Parágrafo 4o – Os Associados Efetivos aprovados tem direito a Diploma, emitido pelo CBRV, conferindo-lhe esta honraria.<br>
					Parágrafo 5o – Com a finalidade de melhor gerir os interesses do CBRV, o Regimento deve conter uma Diretoria Executiva do CBRV, com definição de cargos, competências coletivas e individuais, cuja eleição e os mandatos coincidam com o da Diretoria Executiva da ABRV, podendo neste caso haver superposição de cargos.<br>
					Parágrafo 6º – Os integrantes da Diretoria Executiva do CBRV ficam dispensados das anuidades dos 3 (três) anos subsequentes à sua eleição.<br>
					Parágrafo 7o – O CBRV deve nomear Associados Colegiados para compor a Comissão Científica da ABRV, mediante solicitação da Diretoria Executiva da ABRV.<br>
					Parágrafo 8o – No caso de dissolução da Diretoria Executiva do CBRV, cabe ao Diretor Presidente da ABRV convocar os Associados Colegiados, para nova eleição.</p>
					 
					<p>DA COMISSÃO CIENTÍFICA</p>
					 
					<p style="text-align: justify;">Art. 35º – A Comissão Científica, órgão de assessoramento da Diretoria Executiva, é composta por Associados Colegiados nomeados pelo CBRV, mediante solicitação da Diretoria Executiva da ABRV.<br>
					Parágrafo 1o – A Comissão Científica é transitória e se extingue uma vez preenchidas e completadas as finalidades a que se destinou.<br>
					Parágrafo 2o – O CBRV tem 10 (dez) dias para apresentar os nomes que formarão a Comissão Científica, sempre que solicitado pela Diretoria Executiva.</p>
					 
					<p style="text-align: justify;">Art. 36º – A Comissão Científica tem como atribuições:<br>
					a.     Assessorar a Diretoria Executiva em todos os assuntos científicos e em atividades científicas promovidas pela ABRV;<br>
					b.    Deliberar sobre questões pertinentes a sua especialidade, quando solicitado pela Diretoria Executiva.<br>
					Parágrafo Único – Cabe a Diretoria Executiva da ABRV definir as atribuições da Comissão Científica em cada uma de suas solicitações à formação do mesmo pelos Associados Colegiados do CBRV.</p>
					 
					<p>DAS COMISSÕES ESPECIAIS</p>
					 
					<p style="text-align: justify;">Art. 37º – As Comissões Especiais são órgãos de assessoramento da Diretoria Executiva.<br>
					Parágrafo 1º – As Comissões Especiais são transitórias e se extinguem uma vez preenchidas e completadas as finalidades a que se destinaram.<br>
					Parágrafo 2º – As Comissões Especiais devem ser compostas por, no mínimo, 5 (cinco) Associados, em pleno gozo de seus direitos.<br>
					Parágrafo 3º – O trabalho das Comissões Especiais deve ser coordenado pela Diretoria Executiva.<br>
					Parágrafo 4º – As Comissões Especiais tem como atribuições:<br>
					a.     Estudar as questões implícitas na sua denominação;<br>
					b.    Enviar os relatórios de seus estudos e atividades à Diretoria Executiva, até 90 (noventa) dias antes da Assembleia Geral, a fim de serem apreciados pela Diretoria Executiva;<br>
					c.     Eleger o presidente entre seus integrantes, ficando o mesmo responsável pelo bom andamento dos trabalhos da Comissão.<br>
					Parágrafo 5º – Todas as Comissões devem se reunir:<br>
					a.     No máximo, dentro de 30 (trinta) dias após a sua criação em reunião da Diretoria Executiva para eleger seus presidentes e planificar os trabalhos;<br>
					b.    As Comissões devem se reunir para execução dos trabalhos, de acordo com normas traçadas pelo seu presidente, em consonância com os objetivos gerais da ABRV.</p>
					 
					 
					<p style="text-align: justify;"><span style="color: #51683f;"><strong>CAPÍTULO IV</strong></span><br />
					DAS ELEIÇÕES E POSSE</p>
					 
					<p style="text-align: justify;">Art. 38º – As eleições se processam da seguinte forma:<br>
					a.     As Assembleias Gerais Ordinárias são as coordenadoras e responsáveis pelas eleições da Diretoria Executiva, de acordo com o artigo 32o;<br>
					b.    Na programação da Assembleia Geral Ordinária deve ser reservada hora para realização das eleições;<br>
					c.     As chapas concorrentes devem ser registradas junto à ABRV, até o dia 1º de fevereiro do ano de realização da Assembleia Geral Ordinária, constando os nomes dos candidatos para todos os cargos da Diretoria Executiva;<br>
					d.     Só podem votar e ser votados os Associados Efetivos, Residentes e Colegiados, quites com a tesouraria da ABRV, os Fundadores e aqueles incluídos no artigo 9º, parágrafo 3º, e no artigo 10o, parágrafo 2o;<br>
					e.     No caso de chapa única, a eleição se faz por aclamação;<br>
					f.      Havendo mais de uma chapa a eleição se faz pela maioria dos votos.<br>
					Parágrafo 1o – Não havendo chapas concorrentes registradas junto à ABRV cabe a Diretoria Executiva convocar uma Assembleia Geral Extraordinária, para nova eleição ou dissolução da ABRV.<br>
					Parágrafo 2o – Concorrendo mais de 2 (duas) chapas e nenhuma delas obtendo 50% mais um dos votos, as duas primeiras concorrem a um 2º turno para se apurar a chapa vencedora, conforme alínea f.<br>
					Parágrafo 3o – A apuração do resultado das eleições é de responsabilidade da direção da Assembleia.<br>
					Parágrafo 4o – A posse da nova Diretoria Executiva se faz logo após a Assembleia Geral.<br>
					Parágrafo 5o – Os integrantes da Diretoria Executiva ficam dispensados das anuidades dos 3 (três) anos subsequentes à sua eleição.<br>
					Parágrafo 6o – Não é permitida a reeleição no mesmo cargo de nenhum integrante da Diretoria Executiva.<br>
					Parágrafo 7o – O candidato ao cargo de Primeiro Diretor Tesoureiro tem obrigatoriamente que trabalhar ou residir na cidade de São Paulo, Capital.</p>
					 
					 
					<p style="text-align: justify;"><span style="color: #51683f;"><strong>CAPÍTULO V</strong></span><br />
					DO SINDIV</p>
					 
					<p style="text-align: justify;">Art. 39º – A ABRV promove um encontro denominado “Simpósio Internacional de Diagnóstico por Imagem Veterinário – SINDIV”, de caráter científico-social.
					Parágrafo Único – Um Regimento próprio, aprovado pela Diretoria Executiva, estabelece as normas de seu funcionamento.</p>
					 
					<p style="text-align: justify;">Art. 40º – O nome “Simpósio Internacional de Diagnóstico por Imagem Veterinário – SINDIV” é reservado com exclusividade, para o encontro realizado pela ABRV, e podendo ser antecedido do número de ordem, o qual é único e sequencial.</p>
					 
					 
					<p style="text-align: justify;"><span style="color: #51683f;"><strong>CAPÍTULO VI</strong></span><br />
					DO PATRIMÔNIO</p>
					 
					<p style="text-align: justify;">Art. 41º – O Patrimônio Social da ABRV é constituído pelas receitas previstas neste Estatuto, bem como por todos os bens móveis e imóveis, contribuições, donativos, subvenções e legados ou quaisquer outras, inclusive juros de ações e operações bancárias.</p>
					 
					<p style="text-align: justify;">Art. 42º – Constitui-se a receita:<br>
					a.     Da contribuição dos sócios;<br>
					b.    Da renda de iniciativas previstas neste Estatuto;<br>
					c.     Do produto dos cursos patrocinados;<br>
					d.     Do saldo ou porcentagem verificados ao encerramento das contas do SINDIV ou outra atividade promovida pela ABRV ou da qual participe por convênio ou acordo;<br>
					e.     De operações de crédito, juros de depósito bancário ou de aplicação de capital;<br>
					f.      De donativos, legados e subvenções de qualquer espécie.</p>
					 
					<p style="text-align: justify;">Art. 43º – Em caso de dissolução e liquidação da ABRV, os bens da entidade devem ser destinados a entidades da Classe de Médicos Veterinários indicadas pela Assembleia Geral.</p>
					 
					 
					<p style="text-align: justify;"><span style="color: #51683f;"><strong>CAPÍTULO VII</strong></span><br />
					DISPOSIÇÕES GERAIS</p>
					 
					<p style="text-align: justify;">Art. 44º – A ABRV pode entrar em convênio com outras associações para executar programas comuns, bem como se filiar às associações similares, por proposta da Diretoria Executiva.</p>
					 
					<p style="text-align: justify;">Art. 45º – Os Associados ocupantes dos cargos na Assembleia Geral (Ordinária ou Extraordinária), na Diretoria Executiva, no CBRV, na Comissão Científica e nas Comissões Especiais não devem receber qualquer remuneração no período de seus mandatos.<br>
					Parágrafo 1º – As despesas de representação, realizadas por Associados ocupantes de cargos na Diretoria Executiva, no CBRV, na Comissão Científica e nas Comissões Especiais devem ser reembolsadas mediante apresentação de documentos legais de comprovação, desde que previamente autorizadas pela Diretoria Executiva da ABRV.<br>
					Parágrafo 2º – É vedada remuneração aos Associados, sob qualquer título, excetuando-se casos de prestação de serviço solicitada pela Diretoria Executiva.</p>
					 
					<p style="text-align: justify;">Art. 46º – A ABRV não pode se manifestar sobre matéria político-partidária e referente a credos religiosos ou filosóficos; deve evitar tomar qualquer medida que importe em discriminação racial, luta de classes ou discórdia entre Médicos Veterinários e outros profissionais.</p>
					 
					<p style="text-align: justify;">Art. 47º – De acordo com recursos disponíveis, a ABRV pode editar um boletim destinado a dar publicação de suas atividades e a divulgar trabalhos científicos e profissionais de seus Associados, além de toda e qualquer outra matéria julgada útil à profissão.</p>
					 
					<p style="text-align: justify;">Art. 48º – A ABRV pode ser dissolvida em Assembleia Geral Extraordinária, convocada para este fim, mediante pedido assinado por pelo menos 2/3 (dois terços) dos Associados e dirigido ao Diretor Presidente.<br>
					Parágrafo 1º – Aceito o pedido de dissolução pela Diretoria Executiva e convocada a Assembleia Geral Extraordinária aos termos deste estatuto, a decisão só pode ser tomada por maioria simples dos Associados.<br>
					Parágrafo 2º – Aprovada a dissolução, são liquidantes natos o Diretor Presidente, o Diretor Vice-Presidente, os Diretores Secretários e os Diretores Tesoureiros da última Diretoria Executiva eleita.</p>
					 
					<p style="text-align: justify;">Art. 49º – Os Associados, de qualquer categoria, não respondem nem mesmo subsidiariamente, pelas obrigações assumidas em nome da ABRV.</p>
					 
					<p style="text-align: justify;">Art. 50º – Os casos omissos neste Estatuto são resolvidos pela Diretoria Executiva e, nos casos cabíveis, ad referendum da Assembleia Geral.</p>
					 
					 
					<p style="text-align: justify;"><span style="color: #51683f;"><strong>CAPÍTULO VIII</strong></span><br />
					DAS DISPOSIÇÕES TRANSITÓRIAS</p>
					 
					<p style="text-align: justify;">Art. 51º – Os atuais Associados da ABRV, das diferentes categorias, devem ser enquadrados dentro do presente Estatuto, de acordo com as suas qualificações, respeitados os direitos adquiridos e a retroatividade da lei, se for o caso.</p>
					 
					<p style="text-align: justify;">Art. 52º – O presente Estatuto entra em vigor na data de seu registro, o qual deve ser providenciado pela diretoria executiva, atendendo aos dispositivos legais, não podendo ultrapassar o período de 30 (trinta) dias de sua aprovação pela Assembleia Geral, revogadas as disposições em contrário.</p>
					 
					 
					<p class="small text-muted">São Paulo, 2 de abril de 2016.</p>
				</div>	
			</div>
		</div>


		
	</div>

</div>

