<div class="container">
    <div class="row">
		<div class="barraTitulo bg-verdeEscuro">Objetivos</div>

    	<div class="col-sm-8 top-buffer bottom-buffer">
			<p>A <b>Associação Brasileira de Radiologia Veterinária</b> tem como objetivo congregar Médicos Veterinários interessados em diagnóstico por imagens e em terapias por radiações, promovendo palestras, cursos e congressos nacionais e internacionais. Estabelecer relacionamento profissional e cultural com outras entidades associativas veterinárias, bem como de outras profissões ligadas a medicina veterinária.</p>
			<img src="images/objetivo-2-300x103.jpg">
		</div>

	</div>

</div>

