<div class="navbar-inverse abrvFooter bg-verdeEscuro">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h3>Contato</h3>
                <p><b>Localização:</b> Rua Padre Machado, 455 cj 32 - 04127-000 - São Paulo</p>
                <p><b>Telefone:</b> (11) XXXX-XXXX</p>
                <p><b>E-Mail:</b> contato@abrv.com.br</p>
            </div>
            <div class="col-sm-3"><h3>Redes Sociais</h3>
                <div>
                    <div class="form-inline">
                        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                    </div>
                    <div class="form-inline">
                        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <h3>Colégio Brasileiro de Radiologia Veterinária</h3>
                <p>O colégio tem por finalidade primordial: Incentivar médicos veterinários a aprimorarem seus conhecimentos nos campos do Diagnóstico por Imagem e das terapias por radiações, sendo criada a projeção dos veterinários, clientes e pacientes.</p></div>
            <div class="col-sm-3"><h3>Tags</h3></div>
        
        </div>
    </div>
</div>
<div class="navbar-inverse credits">
    <p class="container">Site desenvolvido por <a href="http://www.movibr.com/">Movi Brasil</a></p>
</div>