<!--
<nav class="navbar navbar-default navbar-fixed-top">
<ul class="container">
    <li class="active"><a ui-sref="home">home</a></li>
    <li class="active"><a ui-sref="associese">Associe-se</a></li>
    <li class="active"><a ui-sref="colegio">Colégio</a></li>
    <li class="active"><a ui-sref="materias">Matérias</a></li>
</ul>
</nav>
-->






<nav class="container navbar navbar-default navbar-abrv">
    
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
<!--        Coisas na nav colapsada-->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active" class="rounded_left"><a ui-sref="dashboard"  class="rounded_left">Dashboard</a></li>
        <li ui-sref-active="active"><a ui-sref="associados">Associados</a></li>
        <li ui-sref-active="active"><a ui-sref="transacoes">Transações</a></li>
        <li ui-sref-active="active"><a ui-sref="anuidades">Anuidades</a></li>
        <li ui-sref-active="active"><a ui-sref="login">Login</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>