<div class="container">
    <div class="row">
		<div class="barraTitulo bg-verdeEscuro">Normas</div>
		<div class="col-sm-8 top-buffer bottom-buffer no-buffer-left">

      <div class="box with-shadow-border box-success">
				<div class="box-body">
          <p>1) O texto submetido no formato de Relatos de Casos deve ser organizado em
          Título, Autores, Introdução/Proposta, Relato de caso, Discussão/Conclusão,
          Referências.</p>
          <p>2) O texto submetido no formato de Trabalho original deve ser organizado em
          Título, Autores, Introdução/Proposta, Métodos, Resultados/Discussão,
          Conclusão, Referências.</p>
          <p>3) O texto deverá ser formatado para um tamanho de página A-4, com margens
          superior, inferior, esquerda e direita de 2,0 cm. Deve ser empregada fonte Arial,
          corpo 11, alinhamento justificado, espaçamento entre linhas simples.</p>
          <p>4) O texto deverá iniciar com o Título do trabalho em português em letras
          maiúsculas (caixa alta), utilizando fonte Arial, corpo 11, em negrito,
          centralizado. O título em Inglês deve vir logo abaixo, centralizado, em itálico
          com a primeira letra da sentença em caixa alta e as demais em caixa baixa.</p>
          <p>5) Após uma linha de espaço (em branco) do Título, devem aparecer os nomes
          dos autores abreviados (abreviação científica) em letras maiúsculas, separados
          por ponto e vírgula, em fonte Arial, corpo 11, centralizado. Somente o nome do
          autor apresentador deve ser completo em negrito e sublinhado, com a primeira
          letra do nome e sobrenomes, maiúsculas. Fazer chamada com número arábico
          sobrescrito para a instituição do autor apresentador, após o último sobrenome,
          para indicar a sua instituição (centro, departamento, núcleos, laboratórios,
          grupos de pesquisa) e o endereço eletrônico (e-mail). A chamada segue na
          linha abaixo ao nome dos autores.</p>
          <p>6) Após uma linha de espaço (em branco) dos Autores virá a seção
          Introdução/Proposta; que deverá ser breve e justificar o problema estudado
          de forma clara, podendo ser utilizado uma breve revisão de literatura e conter
          os objetivos do trabalho realizado.</p>
          <p>7) As citações de artigos (referências) no texto devem seguir as normas
          vigentes da Associação Brasileira de Normas Técnicas – ABNT. Serão
          permitidos no máximo quatro (04) referências no resumo. Cada uma delas
          deve ser citada no texto com um número arábico sobrescrito.
          <p>8) Citações de trabalhos extraídos de Resumos e Abstracts, publicações no
          prelo e comunicação pessoal não são aceitas na elaboração do resumo
          simples.</p>
          <p>9) A nomenclatura científica deve ser citada segundo os critérios
          estabelecidos nos Códigos Internacionais em cada área. Unidades e medidas
          devem seguir o Sistema Internacional</p>
        </div>
			</div>

		</div>



	</div>

</div>
