
<div class="container">
    <div class="row">
        <div class="col-sm-12 barraTitulo bg-verdeEscuro bottom-buffer">Ativação de conta</div>
    </div>
    <div class="row homeBlock">

        <div data-ng-show="loading">
            <div class="row">
                <div class="col-sm-8">
                    <h2>Carregando...</h2>
                    <p>Aguarde enquanto autenticamos a sua conta.</p>
                </div>
            </div>
        </div>

        <div data-ng-show="sucesso">
            <div class="row">
                <div class="col-sm-8">
                    <h2>Sua conta foi ativada!</h2>
                    <!-- <p>Aguarde o redirecionamento ao painél do usuário ABRV.</p> -->
                </div>
            </div>
        </div>

        <div data-ng-show="errorMSG">
            <div class="row">
                <div class="col-sm-8">
                    <h2>Houve um erro ao autenticar a sua conta.</h2>
                    <p>Os administradores já foram notificados. Por favor tente mais tarde.</p>
                </div>
            </div>
        </div>
        
        
    </div>
</div>