<div class="row" style="width:673px"> <!-- Magic -->
    <div class="col-sm-4">
        <div class="rounded-top bg-verdeEscuro pgto-bubble-label">Associados:</div>
        <form class="form-inline panel bg-verdeEscuro pgto-bubble-panel spam">
          <div class="form-group">
            <!-- <input type="text" class="form-control span6" id="exampleInputName2" value="R$ 120,00" disabled> -->
            <span class="form-control">R$ 120,00</span>
            <button type="submit" class="btn btn-success">Pagar</button>
          </div>
        </form>
    </div>
</div>