<div class="container">
    <div class="row">
		<div class="barraTitulo bg-verdeEscuro">Artigos</div>

<!-- TODO: Colocar no Banco -->
		<div class="panel">
			<ul>
				<li>24-10-2008 | PRINCÍPIOS FÍSICOS DO DOPPLER EM ULTRA-SONOGRAFIA</li>
				<li>24-10-2008 | MORFOLOGIA DUPLEX DOPPLER DOS PRINCIPAIS VASOS SANGUÍNEOS ABDOMINAIS EM PEQUENOS ANIMAIS</li>
				<li>24-10-2008 | ULTRA-SONOGRAFIA DA AORTA ABDOMINAL E DE SEUS RAMOS EM CÃES</li>
				<li>16-11-2005 | TOMOGRAFIA COMPUTADORIZADA NA DOENÇA DO DISCO INTERVERTEBRAL EM CÃES</li>
				<li>06-11-2005 | OSTEOPATIA CRÂNIO-MANDIBULAR</li>
				<li>25-10-2005 | DIAGNÓSTICO GESTACIONAL PELO ULTRA-SOM EM ÉGUAS</li>
				<li>25-10-2005 | DIAGNÓSTICO GESTACIONAL PELO ULTRA- SOM EM FELINOS</li>
				<li>22-10-2005 | TOMOGRAFIA COMPUTADORIZADA (TC)</li>
				<li>10-10-2005 | BIBLIOGRAFIA ÚTIL EM DIAGNÓSTICO POR IMAGEM</li>
				<li>29-08-2005 | ESPIROCERCOSE</li>
			</ul>


		</div>

		
	</div>

</div>









