<div class="container">
    <div class="row">
		<div class="barraTitulo bg-verdeEscuro">Política de Cancelamento ou Transferência de Inscrições</div>
		<div class="col-sm-8 top-buffer bottom-buffer no-buffer-left">

			<div class="box with-shadow-border box-success">
				<div class="box-body">
					<h3 class="box-title" style="color: #51683f; margin-top:0px">Política de cancelamento de inscrições:</h3>
					<ul>
						<li>A ABRV aceita cancelamento de inscrição em cursos/eventos organizados pela própria entidade mediante solicitação por e-mail (<a href="mailto:abrv@abrv.org.br">abrv@abrv.org.br</a>) do próprio inscrito, com pelo menos 30 dias de antecedência ao respectivo curso/evento, ressarcindo 50% do valor pago, devido taxas de transações financeiras. O reembolso será realizado por transferência bancária para conta de mesma titularidade do inscrito e num prazo de até 15 dias úteis.</li>
						<li>Não serão aceitos cancelamentos que não sejam solicitados por e-mail e seguindo os critérios acima descritos.</li>
					</ul>

					<h3 class="box-title" style="color: #51683f; margin-top:0px">Política de transferência de inscrições:</h3>
					<ul>
						<li>A ABRV aceita transferência nominal de inscrição de seus cursos/eventos, desde que notificada por e-mail (<a href="mailto:abrv@abrv.org.br">abrv@abrv.org.br</a>) pelo inscrito com pelo menos 15 dias de antecedência ao respectivo curso/evento.</li>
						<li>O inscrito deve informar o nome completo e o e-mail para quem irá transferir sua inscrição.</li>
						<li>O inscrito deverá colocar em cópia no e-mail a pessoa para a qual a inscrição será transferida.</li>
						<li>A inscrição só poderá ser transferida para pessoas que já sejam cadastradas no site da ABRV e que se enquadrem na mesma modalidade do inscrito.</li>
						<li>A mediação de transferência de inscrição será feito entre o próprio inscrito e a pessoa para a qual a inscrição será transferida, isentando a ABRV de qualquer responsabilidade pela mesma.</li>
						<li>A ABRV só efetivará a transferência da inscrição mediando aceite recebido por e-mail da pessoa para a qual a inscrição será transferida.</li>
						<li>Não serão aceitas transferências de inscrições que não sejam solicitadas por e-mail e seguindo os critérios acima descritos.</li>
					</ul>

				</div>
			</div>
			
		</div>


		
	</div>

</div>

