<div class="container">
    <div class="row">
        <div class="col-sm-12 barraTitulo bg-verdeEscuro bottom-buffer">SINDIV | Simpósio internacional de Diagnóstico por Imagem Veterinário</div>
    </div>
    <div class="row">
    	<div class="col-md-12 col-lg-8">
    		<h3>SINDIV VI - 2016</h3>
    		<p>Acesse o site <a href="http://www.sindiv.com.br" target="_blank">www.sindiv.com.br</a>  para maiores informações</p>
    		<a href="http://www.sindiv.com.br" target="_blank">
	    		<img src="images/sindiv/Sindiv_VI.png" class="img-responsive">
	    	</a>
    		<hr>
	    	<h2>Confira as edições passadas</h2>
	    	<p class="lead font-verde"><a href="http://www.sindiv2015.com/">SINDIV 2015 | 19 e 20 de Novembro | Bonito-MS</p>
	    	<img src="images/sindiv/vsindiv.png" class="img-responsive"></a>
	    	<p>V SINDIV 19 a 20 de novembro de 2015, Bonito, MS. Organizado pela Universidade Federal de Mato Grosso de Sul em parceria com ABRV. Com a participação de 7 palestrantes sendo uma internacional.</p>
	    	<hr>
	    	<p class="lead font-verde">SINDIV 2014 | 22 e 23 de Novembro | Belo Horizonte-MG</p>
	    	<img src="images/sindiv/ivsindiv.png" class="img-responsive">
	    	<p>IV SINDIV 22 a 23 de novembro de 2014, Belo Horizonte, MG. Organizado pelas Universidade Federal de Lavras e Universidade Federal de Minas Gerais com o apoio da Anclivepa MG. Com a participação de 13 palestrantes sendo quatro internacionais.</p>
	    	<hr>
	    	<p class="lead font-verde">SINDIV 2013 | 21 e 22 de Novembro | Rio de Janeiro-RJ</p>
	    	<img src="images/sindiv/iiisindiv.png" class="img-responsive">
	    	<p>III SINDIV 21 e 22 de novembro de 2013, Rio de Janeiro – RJ.  Organizado pela Associação de Diagnóstico por Imagem Veterinário do Rio de Janeiro – Organizado pela Associação de Diagnóstico por Imagem Veterinário do Rio de janeiro ADIV-RJ. O evento contou com 18 palestrantes, sendo dois internacionais e com a participação de aproximadamente 400 pessoas.</p>
	    	<hr>
	    	<p class="lead font-verde">SINDIV 2012 | 20 a 23 de Novembro | Curitiba-PR</p>
	    	<img src="images/sindiv/iisindiv.png" class="img-responsive">
	    	<p>II SINDIV: 20 a 23  de novembro  de 2012. Curitiba –PR. Universidade Federal do Paraná - Curitiba – PR- Organizado pela Associação Paranaense de Diagnóstico por Imagem Veterinária, o evento contou com 25 palestrantes e mais de 280 congressistas. Também foi um evento de sucesso, sendo incluído no calendário de eventos dos profissionais da área e das empresas.</p>
	    	<hr>
	    	<p class="lead font-verde">SINDIV 2011 | 30 de Novembro a 2 de Dezembro | Recife-PE</p>
	    	<p>I SINDIV: 30/11 a 02/12 de 2011. Universidade Federal Rural de Pernambuco (UFRPE) O evento contou com 18 palestrantes e mais de 300 congressistas inclusive do exterior. O simpósio teve grande êxito e cumpriu os objetivos propostos.</p>
	    	<hr>
    	</div>

    </div>