
<div class="col-sm-2 no-padding-left" >
    <div class="sidebar-nav dashboard-sidebar-container">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Dashboard</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse round-all">
          <ul class="nav navbar-nav">
            <li ui-sref-active="active" class="rounded-top"><a ui-sref="dashboard" class="">Minha Conta</a></li>
            <li ui-sref-active="active"><a href="#" ui-sref="atualizarDados">Atualizar Dados</a></li>
            <li ui-sref-active="active"><a href="#" ui-sref="renovarAnuidade">Renovar Anuidade</a></li>
            <li ui-sref-active="active"><a href="#" ui-sref="alterarSenha">Alterar Senha</a></li>
            <li ui-sref-active="active"><a href="#" ui-sref="inscricoes">Inscrições</a></li>  
            <!-- <li ui-sref-active="active" class="rounded-bottom"><a ui-sref="cancelar" class="rounded-bottom">Cancelar</a></li> -->
            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
</div>